html, body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

.navbar {
	margin-bottom: 0;
	background: transparent;
}

.content-container {
	/* navbar is 50px and footer is 60 px */
	min-height: calc(100% - 110px);
}

.jumbotron {
	margin-bottom: 0;
}

footer {
	padding: 20px;
	background: #EEE;
}